<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072306518694-d2kfps93fig8vdei3q0jfg9p662em3an.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072306518694-d2kfps93fig8vdei3q0jfg9p662em3an</string>
	<key>API_KEY</key>
	<string>AIzaSyAJfhDlJfCDmIysW_1wzULG6KwbQ_xNd6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1072306518694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ronaldogomes.ContasPagas</string>
	<key>PROJECT_ID</key>
	<string>contaspagas-3e90a</string>
	<key>STORAGE_BUCKET</key>
	<string>contaspagas-3e90a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072306518694:ios:5e0ffaca724c9407ee1267</string>
</dict>
</plist>